@import './var.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}
